@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Ginto Nord";
   font-weight: 100;
   src: local("Ginto Nord"), format("woff2"),
      url("../public/fonts/ABCGintoNord-Hairline-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 200;
   src: url("../public/fonts/ABCGintoNord-Thin-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 300;
   src: local("Ginto Nord"), format("woff2"), url("../public/fonts/ABCGintoNord-Light-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 400;
   src: local("Ginto Nord"), format("woff2"),
      url("../public/fonts/ABCGintoNord-Regular-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 500;
   src: local("Ginto Nord"), format("woff2"), url("../public/fonts/ABCGintoNord-Medium-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 600;
   src: local("Ginto Nord"), format("woff2"), url("../public/fonts/ABCGintoNord-Bold-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 700;
   src: url("../public/fonts/ABCGintoNord-Black-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 800;
   src: url("../public/fonts/ABCGintoNord-Ultra-Trial.woff2");
}

body {
   @apply bg-black overflow-x-hidden;
}
