@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Ginto Nord";
   font-weight: 100;
   src: url("../public/fonts/ABCGintoNord-Hairline-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 200;
   src: url("../public/fonts/ABCGintoNord-Thin-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 300;
   src: url("../public/fonts/ABCGintoNord-Light-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 400;
   src: url("../public/fonts/ABCGintoNord-Regular-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 500;
   src: local("Ginto Nord");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 600;
   src: local("Ginto Nord");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 700;
   src: url("../public/fonts/ABCGintoNord-Black-Trial.woff2");
}

@font-face {
   font-family: "Ginto Nord";
   font-weight: 800;
   src: url("../public/fonts/ABCGintoNord-Ultra-Trial.woff2");
}

@font-face {
   font-family: "Neue Montreal";
   font-weight: 300;
   src: url("../public/fonts/NeueMontreal-Light.otf");
}

@font-face {
   font-family: "Neue Montreal";
   font-weight: 400;
   src: url("../public/fonts/NeueMontreal-Regular.otf");
}

@font-face {
   font-family: "Neue Montreal";
   font-weight: 500;
   src: url("../public/fonts/NeueMontreal-Medium.otf");
}

@font-face {
   font-family: "Neue Montreal";
   font-weight: 600;
   src: url("../public/fonts/NeueMontreal-Bold.otf");
}

@layer base {
   html {
      font-family: Ginto Nord, system-ui, sans-serif;
      @apply overflow-x-hidden scroll-smooth;
   }

   body {
      @apply bg-white overflow-x-hidden scroll-smooth;
   }

   p,
   h6 {
      font-family: Neue Montreal, sans-serif;
   }
}
